.company {
    font-size: 0.8rem;
}

.project-container {
    padding: 10px 0px;
}

.project-title-container {
    font-size: 1rem;
}

.project-content-container {
    padding: 3px 0;
    word-spacing:  0px;
}